* {
  margin: 0%;
  color: black;
  padding: 0%;
  font-family: "Comfortaa", cursive;
}
html {
  margin: 0%;
  padding: 0%;
  background-color: white;
  color: black;
}
body {
  margin: 0;
  font-family: "IM Fell French Canon SC", serif;
  color: black;
}
p {
  margin: 0%;
}
a {
  text-decoration: none;
}
.container-fluid {
  padding: 15%;
}
.row > * {
  text-align: center;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  background-color: #f14c0f;
  margin: 0%;
}
.kikilk {
  margin-top: 50px;
}
.fixed-top {
  padding: 0px;
}

.nav-link {
  position: relative;
  display: block;
  transition: 0.2s;
}
.nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  top: 100%;
  left: 0;
  background: rgb(202, 202, 202);
  transition: transform 0.7s;
  transform: scaleX(0);
  transform-origin: center;
}

.nav-link:hover::after {
  transform: scaleX(0.8);
  transform-origin: center;
}
.navbar-light .navbar-toggler-icon {
  color: white;
}

.navbar.sticky {
  padding: 5px 100px;
  background-color: #f14c0f;
}
.container-fluid {
  padding: 0.2% 18% 0% 18%;
}

.wave-container {
  position: relative;
  background: white;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.wave-container-2 {
  position: relative;
  background: #fffea8;
  color: rgb(214, 123, 123);
  text-align: center;
  overflow: hidden;
}
.wave-container-3 {
  position: relative;
  background: white;
  color: rgb(214, 123, 123);
  text-align: center;
  overflow: hidden;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 600;
  padding: 15px;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: white;
  font-weight: 600;
  padding: 15px;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(177, 174, 174);
  text-decoration: blue;
}

/* ///////////////////////////first//////////////// */
.first-section-row {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #f14c0f;
}
#first-section {
  background-color: #f14c0f;
}
/* ///////////////////////////second/////////////////////// */

#features {
  background-color: white;
  align-items: center;
  text-align: center;
}
.section-two-image {
  padding: 50px 0px;
}

.SECTION-TWO-FIRST-H3 {
  font-family: "Tangerine", cursive;
  color: RED;
  font-weight: 900;
  font-size: xx-large;
  padding-top: 50px;
}
.hh11 {
  color: RED;
}
.heading-3 {
  color: red;
  font-family: "Convergence", sans-serif;
  font-size: 16px;
}
.features-para {
  color: grey;
}
.section-two-learn-more {
  font-size: 14px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
u.section-two-learn-more {
  margin-top: 20px;
}
.READ-MORE {
  background-color: black;
  color: WHITE;
  padding: 7px 15px;
  margin-top: 20px;
  font-size: 13px;
  border: none;
}

#features-2 {
  background-color: rgb(255, 254, 168);
  text-align: center;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
.imgimg {
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 30px 0px 30px 0px;
}
.features-box-2 {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.features-box-2-2 {
  margin-top: 20px;
  padding: 0%;
}
.three-h3 {
  text-align: center;
  align-items: center;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  margin-top: 25px;
}
.three-p3 {
  margin-top: 10px;
  color: rgb(231, 68, 95);
  font-family: "Comfortaa", cursive;
}
.headingg-1 {
  font-family: "Tangerine", cursive;
  color: RED;
  font-size: 30px;
}
.h2-feature-2 {
  color: rgb(88, 28, 255);
}
.feature-2-para {
  color: grey;
  font-size: 20px;
}
.feature-2-button {
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  background-color: rgb(250, 68, 68);
  border-radius: 50px;
  text-align: center;
  align-items: center;
}

.feature-2-button:hover {
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  background-color: rgb(250, 29, 29);
  border-radius: 50px;
  text-align: center;
  align-items: center;
}

/* -------------------------------------------------------------four-------------------------------------------------------------- */
#features-3 {
  background-color: white;
  text-align: center;
}
.feature-3-feature-box-2 {
  height: 291px;
  width: auto;
  background-color: #f14c0f;
  text-align: center;
  align-items: center;
}
.feature-3-feature-box-2:hover {
  background-color: rgb(255, 144, 17);
}
.four-h2111 {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  margin-top: 15px;
  color: rgb(15, 58, 107);
}
.three-p3111 {
  font-family: "Comfortaa", cursive;
  font-size: 13px;
  color: rgb(223, 221, 221);
}
.JDB {
  text-decoration: none;
  color: black;
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  font-weight: bolder;
}
.JDB:hover {
  color: rgb(37, 37, 37);
  font-weight: bolder;
}
.imggggg {
}

/* /////////////////////////////////////////////////////////////////footer/////////////////////////////////////////////////////// */

.footer-end {
  margin-top: 30px;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: rgb(245, 245, 245);
  padding-top: 10px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgb(146, 146, 146);
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  font-weight: bolder;
  padding-bottom: 10px;
}
.span-footer {
  color: rgb(75, 75, 75);
  font-weight: 900;
}

/*  */

#contact-first {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 300px;
}
.contact-box-1 {
  margin-top: 150px;
  /* text-align: center;
    align-items: center; */
}
.CONTACT-FIRST-HEADING {
  color: red;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  display: inline;
}
.hehe {
  display: flex;
  width: 200px;
  display: inline-block;
}
.CONTACT-LABEL {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ---------------------------------------------------------------contact-us----------------------------------------------------------------------- */
/* ---------------------------------------------------------------contact-us----------------------------------------------------------------------- */
#map-section {
  margin-bottom: 0%;
  padding: 0%;
}

/* //////////////////////////////////////////////////////////////contact form///////////////////////////// */
#Contact-features {
  margin-top: 50px;
}
.contact-features-box {
  padding-top: 70px;
  text-align: left;
}

#exampleInputEmail1 {
  width: 308px;
  color: red;
  font-family: "Comfortaa", cursive;
  font-size: 12px;
}
#exampleFormControlTextarea1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 308px;
  color: red;
  font-family: "Comfortaa", cursive;
  font-size: 12px;
}
.jiji {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-h1 {
  padding-top: 10px;
  color: rgb(56, 56, 56);
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 900;
}

.form-label {
  color: rgb(80, 80, 80);
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}
.form-control {
  border: 1px solid rgb(204, 204, 204);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}

.mb-3 {
  display: inline-block;
  padding: 0px 17px 0px 0px;
}

.cfbh11 {
  font-family: "Comfortaa", cursive;
  font-size: 19px;
  display: flex;
  color: rgb(56, 56, 56);
}
.btn-primary {
  background-color: #f14c0f;
  border: none;
}
.serv {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  color: rgb(87, 87, 87);
  margin: 0px 0px;
  padding: 0px;
}
.conn-span {
  color: rgb(65, 65, 65);
  font-weight: 900;
}
.col-sm-5 {
  text-align: left;
  justify-content: left;
  display: flex;
}
element.style {
  margin: 0px;
}

/* -----------------------------------------------about----------------------------------------- */

#sideLeft {
  float: left;
  width: 950px;
  background-color: #9c0;
  clear: left;
}

/* #sidebarLeft {
    background-color: #0CC;
    height: 800px;
    width: 300px;
    float: left;
    } */

.list {
  float: left;
  width: 600px;
  margin-top: 100px;
}
#ordoner {
  background-color: rgb(255, 233, 215);
  float: left;
  width: 50%;
  padding: 0px 70px;
  height: 1000px;
  position: fixed;
  top: 50px;
  left: 950px;
}

/* #sidebarRight {
    width: 210px;
    height: 800px;
    position: fixed;
    top: 50px;
    left: 1590px;
    background-color: #0CF;
    } */
#scrolling-section {
  margin-top: 63px;
}
.ikikiki {
  width: 100%;
  height: 700px;
}

.containe-1 {
  padding: 100px 100px 0px 100px;
}

.ordr-h4 {
  color: rgb(124, 124, 124);
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 900;
  margin-top: 140px;
}
.ordr-h1 {
  font-size: 43px;
  margin-top: 25px;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
}
.ordr-p1 {
  margin-top: 40px;
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  align-items: center;
  color: rgb(75, 75, 75);
}

.carousel-item {
  width: 100%;
}
.textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}

/* --------------------------------------SHOP------------------------------------------------ */

.MENU-H3-1 {
  font-size: 17px;
  color: grey;
}
.menu-a-1 {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.menu-h1-1 {
  text-decoration: solid;
  font-size: 17px;
  color: grey;
}

.ordr-h4o {
  color: rgb(124, 124, 124);
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 900;
}

.page-nav {
  padding: 57px 0px 26px;
  text-align: center;
}

.page-nav ul li {
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  float: left;
  list-style-type: none;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}
.page-nav ul li i {
  text-decoration: none;
  width: 30px;
  text-align: center;
  color: #444;
}
.page-nav ul li a {
  text-decoration: none;
  color: #444;
}
.fa-angle-double-right:before {
  color: rgb(255, 125, 4);
}
.fa-home:before {
  color: lightseagreen;
}

.bji {
  padding: 10px 0px 26px;
  text-align: center;
}

.bji ul li {
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  float: left;
  list-style-type: none;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}
.bji ul li i {
  text-decoration: none;
  width: 30px;
  text-align: center;
  color: #444;
}
.bji ul li a {
  text-decoration: none;
  color: #444;
}

.con-tainer {
  position: relative;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.text-justify {
  color: white;
  text-decoration: blue;
  font-weight: 700;
  text-align: center;

  font-size: 40px;
  text-shadow: 2px 2px rgb(102, 102, 102);
}

.centered {
  font-family: "Comfortaa", cursive;
  color: white;

  position: absolute;
  margin-top: 30px;
  top: 50%;

  text-align: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
.w-100 {
  margin-top: 13px;
  width: 100% !important;
}

.menu-first-div-1 {
  margin: auto;
  padding: auto;
}

.menu-imgg-1 {
  padding: 30px 10px 0px 10px;
  width: 323px;
  height: 200px;
}

.menu-h3-1 {
  font-family: "Comfortaa", cursive;
  padding-bottom: 6px;
  font-weight: 900;
  padding-top: 30px;
  font-size: 15px;
}
.menu-a-1 {
  text-decoration: none;
  color: rgb(119, 119, 119);
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 16px;
}
.menu-h5-1 {
  font-weight: 800;
  font-size: 15px;
}

/* -----------------------------------------------------------------outlet----------------------------------------------------------- */
.con-tainer-2 {
  /* background-color: black; */
  background-color: black;
  width: 100%;
  height: 220px;
  position: relative;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.aslb {
  color: white;
  text-decoration: blue;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  text-shadow: 2px 2px rgb(102, 102, 102);
}

.outlet-h3-1 {
  font-family: "Comfortaa", cursive;
  padding-bottom: 30px;
  font-weight: 800;
  padding-top: 30px;
}
.outlet-h6-1 {
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  color: grey;
}
.outlet-h5-1 {
  font-family: "Comfortaa", cursive;
  color: grey;
  font-size: 16px;
}
.outlet-span-1 {
  font-family: "Comfortaa", cursive;
  font-weight: 900;
}
.blog-row {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.blog-content-tab {
  padding: 0px 200px 0px 200px;
}

/* .span-price-side {
  text-align: left;
} */

.mega {
  width: 279px;
  height: 220px;
  margin-left: 10px;

  background-color: #ffffff;
  /* display: none; */
  padding: 0px 52px;
}

#fa-random {
  display: none;
}

#botton-s {
  display: none;
}

#fa-random-2 {
  display: none;
}

#botton-s-2 {
  display: none;
}

#fa-random-3 {
  display: none;
}

#botton-s-3 {
  display: none;
}

#fa-random-4 {
  display: none;
}

#botton-s-4 {
  display: none;
}

#fa-random-5 {
  display: none;
}

#botton-s-5 {
  display: none;
}

#fa-random-6 {
  display: none;
}

#botton-s-6 {
  display: none;
}

#fa-random-7 {
  display: none;
}

#botton-s-7 {
  display: none;
}

#fa-random-8 {
  display: none;
}

#botton-s-8 {
  display: none;
}

#fa-random-9 {
  display: none;
}

#botton-s-9 {
  display: none;
}

.bankuop {
  margin-top: 0%;
  margin-bottom: 0px;
}
/* .bankuop:hover {

height: 445px;
    box-shadow: 0 0 6px 3px #d1d1d1;
margin-bottom: 0px;
transition: box-shadow 0.6s ease-in-out;


    } */

.bankuop:hover {
  height: 420px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.7s ease-in-out;
}

.side-kick {
  align-items: left;
  text-align: left;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: sticky;
  top: 14px;

  font-size: 36px;
  margin-left: 315px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .outlets-features-box {
    display: none;
  }
}

/* @media screen and (max-width: 992px) {

.container-fluid{
  padding: 1%;
}

  } */

@media screen and (min-width: 992px) {
  .open-span {
    display: non;
  }
}

@media screen and (min-width: 992px) {
  .myfirstfor {
    padding: 0%;
  }
}

@media screen and (min-width: 992px) {
  .menu-imgg-1 {
    width: 423px;
  }
}

@media screen and (max-width: 992px) {
  .hinding-hub {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .jijiji {
    display: none;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (min-device-width: 767px) and (max-device-width: 4000px) {
  .small {
    display: none;
  }
}

@media screen and (min-device-width: 767px) and (max-device-width: 1400px) {
  .large {
    display: none;
  }
}

@media screen and (min-device-width: 1400px) and (max-device-width: 4000px) {
  .medium {
    display: none;
  }
}

@media screen and (min-device-width: 0px) and (max-device-width: 767px) {
  .medium {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .top-image-1 {
    padding-top: 61px;
  }
}

@media screen and (max-width: 414px) {
  .display-1 {
    font-size: 35px;
  }
}
.display-1{
  text-shadow:
  -1px -1px 0 rgb(255, 255, 255),
   1px -1px 0 rgb(255, 255, 255),
   -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
}
